<ion-header>
  <ion-toolbar>
    <ion-title>Update Product</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" style="zoom: 1.5;" routerLink="/inventory"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="full">
  <ion-item>
    <ion-label position="floating">Product ID</ion-label>
    <ion-input [(ngModel)]="prod1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Product Name</ion-label>
    <ion-input [(ngModel)]="prod" value="Disabled" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input [(ngModel)]="quanti" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input [(ngModel)]="pri" placeholder="₱"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-input [(ngModel)]="cate" value="Disabled" disabled></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="button" (click)="onupdateInventory()"
      color="primary" shape="full" expand="block">
    UPDATE PRODUCT</ion-button><p>{{ handlerMessage }}</p>
    <p>{{ roleMessage }}</p>
    </ion-col>
  </ion-row>
</ion-list>
</ion-content>
