<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>ADD PRODUCT</b>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
  
    <ion-item>
      <ion-label position="floating">Product ID</ion-label>
      <ion-input [(ngModel)]="prod1" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input [(ngModel)]="prod" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input [(ngModel)]="quanti" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="pri" placeholder="₱"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="cate" placeholder="select">
      <ion-select-option value="Softdrinks"> Softdrinks </ion-select-option>
      <ion-select-option value="Noodles"> Noodles </ion-select-option>
      <ion-select-option value="Canned Foods"> Canned Foods </ion-select-option>
    </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="onaddProd()"
        color="primary" shape="full" expand="block">
      ADD PRODUCT</ion-button>
      <p>{{ handlerMessage }}</p>
        <p>{{ roleMessage }}</p>
      </ion-col>
    </ion-row>
  </ion-list>


  
</ion-content>
