<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <img src="/assets/ventnizerlogo.PNG">
      <ion-text>
        <h5>Welcome to the App!</h5>
      </ion-text>
    </ion-col>

    <ion-col size="6">
      <ion-card routerLink="/home" color="primary">
        <ion-icon name="bag-add-outline"></ion-icon>
        <ion-label>Add product</ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card routerLink="/inventory" color="tertiary">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card routerLink="/credit" color="secondary">
        <ion-icon name="body-outline"></ion-icon>
        <ion-label>Credits</ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card (click)="onlogout()" color="medium">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
       
      </ion-card>
      <p>{{ handlerMessage }}</p>
      <p>{{ roleMessage }}</p>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
