<ion-header>
  <ion-toolbar>
    <ion-title>CREDITS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
  <ion-col size="12">
    <img src="/assets/ventnizerlogo.PNG">
    <ion-text>
      <h5><br>VENTNIZER GROUP:</h5>
      <ion-label>Allen Jomer Decano<br>
      Neil Chester Gamboa<br>
      Rommel Reyes<br>
      Kian Francis Salapare<br>
      Marie Alyssa Vergara</ion-label>
    </ion-text>
  </ion-col>

</ion-row>
</ion-grid>
</ion-content>
